.desktop-static-pages-header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.5rem 5rem;
  align-items: center;
  color: #000;

  .logo-and-name {
    .icon {
      height: 45px;
    }
  }

  .static-nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    text-transform: capitalize;
    align-items: center;
    margin: 0 2rem;
  }
}